/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #6d396b;
  font-size: 30px;
}
.description {
  font-size: 20px;
  color: #555555;
}
